<!DOCTYPE html> {% load static %}

<html lang="es">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}{% endblock %}</title>
    
    <style>{% block style %} {% endblock %}</style>

    {% include "head_css.html" %}
</head>

<body>
    <head>
        {% include "navbar.html" %}
    </head>
    <div id='contenido'>

        <div>
            {% block jumbotron %} {% endblock %}
            
            <div class="container">
                {% block content %} {% endblock %}
            </div>

            {% include "javascript_css.html" %}

        </div>
    </div>
</body>
</html>