<!DOCTYPE html> 
{% load static %}

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %} {% endblock %}</title>
    
    {% block style %} {% endblock %}

    {% block script %} {% endblock %}

    {% include "head_css.html" %}

</head>

<body>
    <head>
        {% include "navbar.html" %}
    </head>
    <div id='contenido'>
        <div class="col-sm-1">
            <section class="sidebar">
                {% include 'nav.html' %}
            </section>
        <!-- /.sidebar -->
        </div>

        <div class="col-sm-11">

            {% block jumbotron %} {% endblock %}

            <div class="container">

                {% block content %} {% endblock %}

            </div>

            {% include "javascript_css.html" %}

            {% block javascript %}
            {% endblock %}

        </div>
    </div>

</body>

</html>