{% extends "baseini.html" %} {% load crispy_forms_tags %} {% load static %}

<head>
    {% include "head_css.html" %}
</head>

<body>
    {% include "navbar.html" %}
    <!--<h1>Hola mundo</h1>-->
    {% block content %}
    <div class="row">
        {% if wb_titulo %}
        <p class="lead centrado">{{ wb_titulo }}</p>
        {% endif %}
        <hr/>
        <br/>
        {% if not form.save %}
        <div class="col-sm-6 col-sm-offset-3">
            <form method="POST" action="">
                {% csrf_token %} {{ wb_contform|crispy }}
                <input class="btn btn-primary" type="submit" value="Enviar" />
            </form>
        </div>
        {% endif %}
    </div>
    {% endblock %}
</body>