{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% load static %}
{% block head_title %}Lucas Server | Galería{% endblock %}
{% block style %}
<style>

.jumbotron{
    background-color: #00053a !important;
    color: white !important;
}
body{
    font:12px/1.2 Verdana, sans-serif; 
    padding:0 10px;
}

h2{
    font-size:13px; 
    margin:15px 0 0 0;
}

h1{
    text-align: center;
    margin-top: 0px !important;
}

.foto{
    width: 150px;
    align: center;
    padding: 5px;
}

.fichero{
    width: 25px;
}

.carpetas{
    text-align: center;
}

#centrar{
    text-align: center;
}

</style>
{% endblock %}

{% block script %}

{% endblock %}


{% block jumbotron %}
<div class="row">
    <div class="jumbotron">
        <div class="container">
            <div id="centrar" class="col-sm-12">
                <h1>{{ pactual }}</h1>
                <br>
                <br>
                {% for folder in folders %}
                <a href="{% url 'galeria' titulo='' %}{{ rutaf }}/{{ folder }}"><img class="fichero" 
                src="{% static 'images/folder.png' %}"> {{ folder }}&nbsp;&nbsp;</a>
                {% endfor %}
                <br>
                <br>
                <br>
                {% for file in files %}
                <a class="group3" href="{% static '' %}{{ rutai }}/{{ file }}" title="{{ file }}"><img class="foto" 
                src="{% static '' %}{{ rutai }}/{{ file }}"></a>
                {% endfor %}

            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.colorbox/1.6.4/jquery.colorbox.js"></script>
<script>
    $(document).ready(function(){
        //Examples of how to assign the Colorbox event to elements
        $(".group3").colorbox({rel:'group3', transition:"none", width:"75%", height:"75%"});
        
        //Example of preserving a JavaScript event for inline calls.
        $("#click").click(function(){ 
            $('#click').css({"background-color":"#f00", "color":"#fff", "cursor":"inherit"}).text("Open this window again" /
            "and this message will still be here.");
            return false;
        });
    });
</script>
{% endblock %}