 {% load static %}

<!-- Bootstrap core CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="{% static 'css/navbar-static-top.css' %}" rel="stylesheet">

<link href="{% static 'css/custom.css' %}" rel="stylesheet">

<!-- <link href="{% static 'css/sidebar-menu.css' %}" rel="stylesheet"> -->

<link href="{% static 'css/AdminLTE.min.css' %}" rel="stylesheet">

<link href="{% static 'css/navprueba.css' %}" rel="stylesheet">

<link href="{% static 'css/colorbox.css' %}" rel="stylesheet">