{% extends "baseini.html" %} 
{% load crispy_forms_tags %} 
{% block head_title %}Lucas Server | Inicio{% endblock %}
{% block style %}

.jumbotron{
    background-color: #00053a !important;
    color: white !important;
}

#contenido {
    text-align: center;
}

{% endblock %}

{% block jumbotron %}
<div class="row">
    <div class="jumbotron">
        <div class="container">
            <div id="contenido" class="col-sm-6 col-sm-offset-3">

                <h1>Servidor de Lucas</h1>
                <p>Bienvenidos a mi proyecto de fin de curso del Ciclo Superior 
                    de Administración de Sistemas Informáticos en Red</p>
                <br>
                <br>
                <br>
                <p>
                    <a class="btn btn-lg btn-primary" href="{% url 'registration_register' %}" 
                    role="button">Regístrate &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}