{% extends "base.html" %} 
{% load crispy_forms_tags %} 
{% load static %}
{% block head_title %}Lucas Server | Multimedia{% endblock %}
{% block style %}
<style>
.jumbotron{
    background-color: #00053a !important;
    color: white !important;
}

.centrado{
    text-align: center;
}
</style>
{% endblock %}

{% block jumbotron %}
<div class="row">
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-6">
                <h1>Servidor de Lucas</h1>
                <br>
                <br>
                <br>
                <p>Elige en el menú de la izquierda el tipo de contenido que
                quieras descargar o visualizar</p>
            </div>

            <div class="col-sm-6">
                <img class="centrado" style="width: 100%" src="{% static 'images/logo.jpg' %}">
            </div>
        </div>
    </div>
</div>
{% endblock %} 
<hr/>
<br/> 
{% block content %}
{% endblock %}