<ul class="navl">
    <li class="header"><h3>Menú</h3></li>
    
    <li><h4><a href="{% url 'galeria' %}">Galería</a></h4></li>

    <li><h4><p>Videos</p></h4>
        <ul>
            <li><h5><a href="{% url 'peliculas' %}">Películas</a></h5></li>
            <li><h5><a href="">Series</a></h5></li>
            <li><h5><a href="">Docus</a></h5></li>
        </ul>
    </li>

{% comment %}<li><h4><a href="{% url 'multimedia' %}">Música</a></h4></li>{% endcomment %}

</ul>