<!-- Sidebar Menu -->
<ul class="sidebar-menu">
    <li class="header">Menú</li>
    <li><a href="{% url 'inicio' %}"><i class="fa fa-area-chart"></i> <span>Inicio</span></a></li>
     <li class="treeview active">
        <a href="admin"><i class="fa fa-rocket"></i> <span>Administración</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="admin"><i class="fa fa-rocket"></i> <span>Administración</span></a></li>
            <li><a href="admin"><i class="fa fa-rocket"></i> <span>Administración</span></a></li>
            <li><a href="admin"><i class="fa fa-rocket"></i> <span>Administración</span></a></li>
        </ul>
    </li>
</ul>
<!-- /.sidebar-menu -->