<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand">Lucas Server</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'multimedia' %}">Multimedia</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="/admin">Administración</a></li>
                {% else %}
                <li><a href="/admin/login/?next=/admin/">Administración</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if not request.user.is_authenticated %}
                <form class="navbar-form navbar-right" method="POST" action="{% url 'auth_login' %}">{% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Usuario" />
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Clave" />
                    </div>
                    <button type="submit" class="btn btn-default">Entrar</button>
                </form>
                
                {% else %}
                <li><a href="{% url 'auth_logout' %}">Cerrar sesión {{ request.user }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>