{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% load static %}
{% block head_title %}Lucas Server | Galería{% endblock %}
{% block style %}
<style>

.jumbotron{
    background-color: #00053a !important;
    color: white !important;
}

#sync {
    align-self: right !important;
}

.caratula{
    width: 150px;
    max-height: 200px;
}

#centrado{
    text-align: center;
}

</style>
{% endblock %}

{% block jumbotron %}
<div class="row">
        <div>
            <a id="sync" class="btn btn-lg btn-primary" href="{% url 'sinc_peliculas' %}" role="button">Sincronizar películas &raquo;</a>
        </div>
</div>
<div class="row">
    <div class="jumbotron">
        <div class="container">
            <div id="centrado" class="col-sm-5 col-sm-offset-1">
                <br>
                <br>
                <br>
                {% comment %}<table>
                <tr>{% endcomment %}
                {% for nombre,ruta,caratula in archivos1 %}
                    {% if caratula %}
                        <a href="{% url 'descargarp' ruta='' %}{{ ruta }}"><img class="caratula" src="{% static '' %}{{ caratula}}"><br>{{ nombre }}</a><br><br>
                    {% else %}
                        <a href="{% url 'descargarp' ruta='' %}{{ ruta }}"><img class="caratula" src="{% static 'images/caratulas/NoCoverImage.png' %}"><br>{{ nombre }}</a><br><br>
                    {% endif %}
                {% endfor %}
                {% comment %}</tr>
                </table>{% endcomment %}

            </div>
            <div id="centrado" class="col-sm-5">
                <br>
                <br>
                <br>
                {% comment %}<table>
                <tr>{% endcomment %}
                {% for nombre,ruta,caratula in archivos2 %}
                    {% if caratula %}
                        <a href="{% url 'descargarp' ruta='' %}{{ ruta }}"><img class="caratula" src="{% static 'images/folder.png' %}"><br>{{ nombre }}</a><br><br>
                    {% else %}
                        <a href="{% url 'descargarp' ruta='' %}{{ ruta }}"><img class="caratula" src="{% static 'images/caratulas/NoCoverImage.png' %}"><br>{{ nombre }}</a><br><br>
                    {% endif %}
                {% endfor %}
                {% comment %}</tr>
                </table>{% endcomment %}

            </div>


        </div>
    </div>
</div>
{% endblock %}