{% extends "baseini.html" %} {% load i18n %} {% load crispy_forms_tags %} {% block content %}
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h2 class='centrado'><strong>Formulario de solicitud</strong></h2><br/>
        <form method="post" action=".">
            {% csrf_token %} {{ form|crispy }}

            <input class='btn btn-block btn-primary' type="submit" value="{% trans 'Registrarme' %}" />
        </form>
    </div>
</div>

<hr/>
<div class='row'>
    <div class='col-sm-6 col-sm-offset-3 centrado'>
        <p>Ya tienes cuenta? <a href="{% url 'auth_login' %}"> Iniciar Sesión.</a></p>
    </div>
</div>
{% endblock %}