* {
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.navl .header {
    color: #00053a;
    text-decoration: underline;
    padding: 0px 12px 12px 12px
}
.navl li a {
    color: grey;
    display: block;
    padding: 0px 12px;
}
.navl li p {
    color: grey;
    display: block;
    padding: 0px 12px;
}
.navl li a:hover {
    background: lightgray;
}
.navl li ul {
    display: none;
    position: relative;    
}
.navl li:hover > ul {
    display: block;
}